In [80]:
import pandas as pd

In [81]:
match=pd.read_excel("./unseen_split/imdb.xlsx")

In [82]:
sum(match['label'])

45

In [83]:
match.set_index(keys=["imdb"],inplace=True)

In [84]:
match.sort_index(inplace=True)
nOmop=match['saki'].nunique()
nOmop

60

In [85]:
match

,saki,des1,des2,label
imdb,,,,
name_basics-birthyear,film_category-film_id,contains the following basic information for n...,the film_category table is used to support a m...,0
name_basics-birthyear,film-release_year,contains the following basic information for n...,the film table is a list of all films potentia...,0
name_basics-birthyear,film-last_update,contains the following basic information for n...,the film table is a list of all films potentia...,0
name_basics-birthyear,actor-last_name,contains the following basic information for n...,the actor table lists information for all acto...,0
name_basics-birthyear,actor-last_update,contains the following basic information for n...,the actor table lists information for all acto...,0
...,...,...,...,...
title_ratings-tconst,city-country_id,contains the imdb rating and votes information...,the city table contains a list of cities.;a fo...,0
title_ratings-tconst,actor-first_name,contains the imdb rating and votes information...,the actor table lists information for all acto...,0
title_ratings-tconst,film_actor-film_id,contains the imdb rating and votes information...,the film_actor table is used to support a many...,1
title_ratings-tconst,customer-email,contains the imdb rating and votes information...,the customer table contains a list of all cust...,0
title_ratings-tconst,address-city_id,contains the imdb rating and votes information...,the address table contains address information...,0

In [86]:
label=match.iloc[0:,3]
input1=label.groupby(label.index).sum()

input2=input1.head(10)
print (input1)

imdb
name_basics-birthyear            0
name_basics-deathyear            0
name_basics-knownfortitles       0
name_basics-nconst               0
name_basics-primaryname          3
name_basics-primaryprofession    0
title_akas-attributes            1
title_akas-isoriginaltitle       0
title_akas-language              2
title_akas-ordering              0
title_akas-region                1
title_akas-title                 2
title_akas-titleid               5
title_akas-types                 1
title_basics-endyear             1
title_basics-genres              2
title_basics-isadult             1
title_basics-originaltitle       1
title_basics-primarytitle        1
title_basics-runtimeminutes      1
title_basics-startyear           1
title_basics-tconst              5
title_basics-titletype           1
title_crew-directors             4
title_crew-tcons                 4
title_crew-writers               3
title_episode-episodenumber      0
title_episode-parenttconst       0
title_episode-seasonnumber       0
title_episode-tconst             0
title_principals-category        0
title_principals-characters      0
title_principals-job             0
title_principals-nconst          0
title_principals-ordering        0
title_principals-tconst          0
title_ratings-averagerating      0
title_ratings-numvotes           0
title_ratings-tconst             5
Name: label, dtype: int64

In [87]:
freq={}
for k,v in input1.iteritems():
    if v in freq:
        freq[v].append(k)
    else:
        freq[v]=[k]

freq

{0: ['name_basics-birthyear',
  'name_basics-deathyear',
  'name_basics-knownfortitles',
  'name_basics-nconst',
  'name_basics-primaryprofession',
  'title_akas-isoriginaltitle',
  'title_akas-ordering',
  'title_episode-episodenumber',
  'title_episode-parenttconst',
  'title_episode-seasonnumber',
  'title_episode-tconst',
  'title_principals-category',
  'title_principals-characters',
  'title_principals-job',
  'title_principals-nconst',
  'title_principals-ordering',
  'title_principals-tconst',
  'title_ratings-averagerating',
  'title_ratings-numvotes'],
 3: ['name_basics-primaryname', 'title_crew-writers'],
 1: ['title_akas-attributes',
  'title_akas-region',
  'title_akas-types',
  'title_basics-endyear',
  'title_basics-isadult',
  'title_basics-originaltitle',
  'title_basics-primarytitle',
  'title_basics-runtimeminutes',
  'title_basics-startyear',
  'title_basics-titletype'],
 2: ['title_akas-language', 'title_akas-title', 'title_basics-genres'],
 5: ['title_akas-titleid', 'title_basics-tconst', 'title_ratings-tconst'],
 4: ['title_crew-directors', 'title_crew-tcons']}

In [88]:
matches=pd.read_excel("./unseen_split/imdb.xlsx")
totalones=len(matches[matches['label']==1])
totalCols=len(input1)
print (totalones)
print (totalCols)

45
39

In [89]:
import numpy as np

np.random.choice(freq[1])

'title_basics-originaltitle'

In [90]:
nVal=int(totalones*0.1)
nValCols=int(0.1*totalCols)
val=[]
print(nVal)
while nVal>0 and len(val)<nValCols:
    newChoice=np.random.choice(nVal+1,1)[0]
    if int(newChoice) in freq:
        if len(freq[newChoice])>0:
            print ("newChoiceselected")
            print (newChoice)
            decision=np.random.choice(freq[newChoice])
            val.append(decision)
            freq[newChoice].remove(decision)
            nVal=nVal-newChoice
while len(val)<nValCols:
    decision=np.random.choice(freq[0])
    val.append(decision)
    freq[0].remove(decision)
print (val)

4
newChoiceselected
1
newChoiceselected
3
['title_basics-startyear', 'title_crew-writers', 'title_akas-ordering']

In [91]:
nTest=int(totalones*0.2)
nTestCols=int(0.2*totalCols)
test=[]
while nTest>0 and len(test)<nTestCols:
    newChoice=np.random.choice(nTest+1,1)[0]
    if int(newChoice) in freq:
        if len(freq[newChoice])>0:
            print ("newChoiceselected")
            print (newChoice)
            decision=np.random.choice(freq[newChoice])
            test.append(decision)
            freq[newChoice].remove(decision)
            nTest=nTest-newChoice
while len(test)<nTestCols:
    decision=np.random.choice(freq[0])
    test.append(decision)
    freq[0].remove(decision)
print (test)

newChoiceselected
0
newChoiceselected
2
newChoiceselected
1
newChoiceselected
3
newChoiceselected
2
newChoiceselected
0
newChoiceselected
0
['name_basics-knownfortitles', 'title_akas-language', 'title_basics-primarytitle', 'name_basics-primaryname', 'title_basics-genres', 'title_ratings-averagerating', 'title_episode-seasonnumber']

In [92]:
train=[]
for i in freq:
    if len(freq[i])>0:
        for item in freq[i]:
            train.append(item)
train

['name_basics-birthyear',
 'name_basics-deathyear',
 'name_basics-nconst',
 'name_basics-primaryprofession',
 'title_akas-isoriginaltitle',
 'title_episode-episodenumber',
 'title_episode-parenttconst',
 'title_episode-tconst',
 'title_principals-category',
 'title_principals-characters',
 'title_principals-job',
 'title_principals-nconst',
 'title_principals-ordering',
 'title_principals-tconst',
 'title_ratings-numvotes',
 'title_akas-attributes',
 'title_akas-region',
 'title_akas-types',
 'title_basics-endyear',
 'title_basics-isadult',
 'title_basics-originaltitle',
 'title_basics-runtimeminutes',
 'title_basics-titletype',
 'title_akas-title',
 'title_akas-titleid',
 'title_basics-tconst',
 'title_ratings-tconst',
 'title_crew-directors',
 'title_crew-tcons']

In [93]:
import xlsxwriter
training=pd.DataFrame()
writer1 = pd.ExcelWriter('./unseen_split/train_imdb.xlsx', engine='xlsxwriter')
for m in train:
    training=training.append(matches.loc[matches['imdb']==m])
training.to_excel(writer1,sheet_name='imdb_train',index=False)
print (len(training))
writer1.save()
training

/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/664969232.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training=training.append(matches.loc[matches['imdb']==m])

1749

,imdb,saki,des1,des2,label
101,name_basics-birthyear,film_category-category_id,contains the following basic information for n...,the film_category table is used to support a m...,0
121,name_basics-birthyear,film_actor-actor_id,contains the following basic information for n...,the film_actor table is used to support a many...,0
136,name_basics-birthyear,actor-first_name,contains the following basic information for n...,the actor table lists information for all acto...,0
154,name_basics-birthyear,film_actor-last_update,contains the following basic information for n...,the film_actor table is used to support a many...,0
176,name_basics-birthyear,language-last_update,contains the following basic information for n...,the language table is a lookup table listing t...,0
...,...,...,...,...,...
2262,title_crew-tcons,country-country_id,contains the director and writer information ...,the country table contains a list of countries...,0
2287,title_crew-tcons,film-rental_rate,contains the director and writer information ...,the film table is a list of all films potentia...,0
2304,title_crew-tcons,country-last_update,contains the director and writer information ...,the country table contains a list of countries...,0
2305,title_crew-tcons,inventory-last_update,contains the director and writer information ...,the inventory table contains one row for each ...,0
2323,title_crew-tcons,actor-actor_id,contains the director and writer information ...,the actor table lists information for all acto...,0

In [94]:
validating=pd.DataFrame()
writer2=pd.ExcelWriter('./unseen_split/val_imdb.xlsx',engine='xlsxwriter')
for m in val:
    validating=validating.append(matches.loc[matches['imdb']==m])
print (len(validating))
validating.to_excel(writer2,sheet_name='imdb_val',index=False)
writer2.save()
print (val)

180
['title_basics-startyear', 'title_crew-writers', 'title_akas-ordering']

/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/844746406.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  validating=validating.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/844746406.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  validating=validating.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/844746406.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  validating=validating.append(matches.loc[matches['imdb']==m])

In [95]:
testing=pd.DataFrame()
writer3=pd.ExcelWriter('./unseen_split/test_imdb.xlsx',engine='xlsxwriter')
for m in test:
    testing=testing.append(matches.loc[matches['imdb']==m])
print (len(testing))
testing.to_excel(writer3,sheet_name='imdb_test',index=False)
writer3.save()
print (test)

421
['name_basics-knownfortitles', 'title_akas-language', 'title_basics-primarytitle', 'name_basics-primaryname', 'title_basics-genres', 'title_ratings-averagerating', 'title_episode-seasonnumber']

/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/1999105152.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  testing=testing.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/1999105152.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  testing=testing.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/1999105152.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  testing=testing.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/1999105152.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  testing=testing.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/1999105152.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  testing=testing.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/1999105152.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  testing=testing.append(matches.loc[matches['imdb']==m])
/var/folders/hd/krkf0bwn52s0tf7r0fqk2c1c0000gp/T/ipykernel_61405/1999105152.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  testing=testing.append(matches.loc[matches['imdb']==m])

In [96]:
testing

,imdb,saki,des1,des2,label
65,name_basics-knownfortitles,film_category-category_id,contains the following basic information for n...,the film_category table is used to support a m...,0
108,name_basics-knownfortitles,address-address_id,contains the following basic information for n...,the address table contains address information...,0
211,name_basics-knownfortitles,address-postal_code,contains the following basic information for n...,the address table contains address information...,0
227,name_basics-knownfortitles,actor-actor_id,contains the following basic information for n...,the actor table lists information for all acto...,0
232,name_basics-knownfortitles,film-rental_rate,contains the following basic information for n...,the film table is a list of all films potentia...,0
...,...,...,...,...,...
2098,title_episode-seasonnumber,customer-create_date,contains the tv episode information.;season nu...,the customer table contains a list of all cust...,0
2118,title_episode-seasonnumber,actor-last_name,contains the tv episode information.;season nu...,the actor table lists information for all acto...,0
2264,title_episode-seasonnumber,address-city_id,contains the tv episode information.;season nu...,the address table contains address information...,0
2286,title_episode-seasonnumber,city-last_update,contains the tv episode information.;season nu...,the city table contains a list of cities.;when...,0
2345,title_episode-seasonnumber,film_actor-last_update,contains the tv episode information.;season nu...,the film_actor table is used to support a many...,0

In [97]:
validating

,imdb,saki,des1,des2,label
9,title_basics-startyear,film-release_year,contains the following basic information for t...,the film table is a list of all films potentia...,1
86,title_basics-startyear,customer-store_id,contains the following basic information for t...,the customer table contains a list of all cust...,0
99,title_basics-startyear,film_category-last_update,contains the following basic information for t...,the film_category table is used to support a m...,0
230,title_basics-startyear,customer-active,contains the following basic information for t...,the customer table contains a list of all cust...,0
261,title_basics-startyear,address-phone,contains the following basic information for t...,the address table contains address information...,0
...,...,...,...,...,...
2127,title_akas-ordering,address-address_id,contains the following common information for ...,the address table contains address information...,0
2129,title_akas-ordering,customer-first_name,contains the following common information for ...,the customer table contains a list of all cust...,0
2200,title_akas-ordering,customer-store_id,contains the following common information for ...,the customer table contains a list of all cust...,0
2273,title_akas-ordering,language-language_id,contains the following common information for ...,the language table is a lookup table listing t...,0
2301,title_akas-ordering,inventory-last_update,contains the following common information for ...,the inventory table contains one row for each ...,0

In [98]:
training

,imdb,saki,des1,des2,label
101,name_basics-birthyear,film_category-category_id,contains the following basic information for n...,the film_category table is used to support a m...,0
121,name_basics-birthyear,film_actor-actor_id,contains the following basic information for n...,the film_actor table is used to support a many...,0
136,name_basics-birthyear,actor-first_name,contains the following basic information for n...,the actor table lists information for all acto...,0
154,name_basics-birthyear,film_actor-last_update,contains the following basic information for n...,the film_actor table is used to support a many...,0
176,name_basics-birthyear,language-last_update,contains the following basic information for n...,the language table is a lookup table listing t...,0
...,...,...,...,...,...
2262,title_crew-tcons,country-country_id,contains the director and writer information ...,the country table contains a list of countries...,0
2287,title_crew-tcons,film-rental_rate,contains the director and writer information ...,the film table is a list of all films potentia...,0
2304,title_crew-tcons,country-last_update,contains the director and writer information ...,the country table contains a list of countries...,0
2305,title_crew-tcons,inventory-last_update,contains the director and writer information ...,the inventory table contains one row for each ...,0
2323,title_crew-tcons,actor-actor_id,contains the director and writer information ...,the actor table lists information for all acto...,0

In [99]:
sum(training['label'])

33

In [100]:
sum(testing['label'])

8

In [101]:
sum(validating['label'])

4

In [ ]:
training