In [1]:
import pandas as pd

In [3]:
IMDB_con=pd.read_excel('./movie_constraint.xlsx','IMDB')
movie_con=pd.read_excel('./movie_constraint.xlsx','Sheet2')

In [4]:
IMDB_con

,table,column,type,primary key,foreign key,size
0,title.akas,titleid,string,yes,no,10
1,title.akas,ordering,integer,no,no,50
2,title.akas,title,string,no,no,50
3,title.akas,region,string,no,no,40
4,title.akas,language,string,no,no,40
5,title.akas,types,array,no,no,10
6,title.akas,attributes,array,no,no,15
7,title.akas,isoriginaltitle,boolean,no,no,2
8,title.basics,tconst,string,yes,yes,100
9,title.basics,titletype,string,no,no,70
10,title.basics,primarytitle,string,no,no,100
11,title.basics,originaltitle,string,no,no,100
12,title.basics,isadult,boolean,no,no,2
13,title.basics,startyear,YYYY,no,no,13
14,title.basics,endyear,YYYY,no,no,13
15,title.basics,runtimeminutes,array,no,no,20
16,title.basics,genres,string,no,no,30
17,title.crew,tcons,string,yes,yes,30
18,title.crew,directors,array,no,no,10
19,title.crew,writers,array,no,no,10
20,title.episode,tconst,string,yes,no,30
21,title.episode,parenttconst,string,no,no,30
22,title.episode,seasonnumber,integer,no,no,15
23,title.episode,episodenumber,integer,no,no,100
24,title.principals,tconst,string,no,yes,50
25,title.principals,ordering,integer,yes,no,50
26,title.principals,nconst,string,no,yes,10
27,title.principals,category,string,no,no,30
28,title.principals,job,string,no,no,20
29,title.principals,characters,string,no,no,50
30,title.ratings,tconst,string,yes,yes,15
31,title.ratings,averagerating,float,no,no,10
32,title.ratings,numvotes,integer,no,no,1000000
33,name.basics,nconst,string,yes,no,10
34,name.basics,primaryname,string,no,no,100
35,name.basics,birthyear,YYYY,no,no,13
36,name.basics,deathyear,YYYY,no,no,13
37,name.basics,primaryprofession,array,no,no,20
38,name.basics,knownfortitles,array,no,no,20

In [5]:
movie_con

      table            column       type primary key foreign key  size
0     actor          actor_id    integer         yes          no   300
1     actor        first_name     string          no          no    15
2     actor         last_name     string          no          no    15
3     actor       last_update  timestamp          no          no    13
4   address        address_id    integer         yes          no   650
..      ...               ...        ...         ...         ...   ...
85    staff       last_update  timestamp          no          no    13
86    store          store_id    integer         yes          no     2
87    store  manager_staff_id    integer          no         yes     2
88    store        address_id    integer          no         yes     2
89    store       last_update  timestamp          no          no    13

[90 rows x 6 columns]

In [12]:
total=len(match['label'])

In [16]:
(len(movie_con[movie_con['primary key']=='yes'])+len(IMDB_con[IMDB_con['primary key']=='yes']))/129

0.16279069767441862

In [17]:
(len(movie_con[movie_con['foreign key']=='yes'])+len(IMDB_con[IMDB_con['foreign key']=='yes']))/129

0.20930232558139536

In [19]:
(len(movie_con[movie_con['type']=='string'])+len(IMDB_con[IMDB_con['type']=='string']))/129

0.3333333333333333

In [23]:
(len(movie_con[movie_con['type']=='timestamp'])+len(IMDB_con[IMDB_con['type']=='timestamp'])+len(movie_con[movie_con['type']=='YYYY'])+len(IMDB_con[IMDB_con['type']=='YYYY']))/129

0.18604651162790697

In [22]:
(len(movie_con[movie_con['type']=='integer'])+len(IMDB_con[IMDB_con['type']=='integer']))/129

0.32558139534883723

In [24]:
(len(movie_con[movie_con['type']=='float'])+len(IMDB_con[IMDB_con['type']=='float']))/129

0.05426356589147287

In [25]:
(len(movie_con[movie_con['type']=='boolean'])+len(IMDB_con[IMDB_con['type']=='boolean']))/129

0.031007751937984496

In [26]:
(len(movie_con[movie_con['type']=='array'])+len(IMDB_con[IMDB_con['type']=='array']))/129

0.06201550387596899

In [9]:
match=pd.read_excel('imdb.xlsx')

2350

In [2]:
imdb=pd.read_excel('imdb.xlsx')

In [3]:
imdb

,imdb,saki,des1,des2,label
0,title_akas-language,language-language_id,contains the following common information for ...,the language table is a lookup table listing t...,1
1,title_crew-tcons,inventory-film_id,contains the director and writer information ...,the inventory table contains one row for each ...,1
2,title_basics-tconst,film-film_id,contains the following basic information for t...,the film table is a list of all films potentia...,1
3,title_basics-tconst,film_actor-film_id,contains the following basic information for t...,the film_actor table is used to support a many...,1
4,title_basics-genres,film_text-description,contains the following basic information for t...,"the film_text table contains the film_id, titl...",1
...,...,...,...,...,...
2345,title_episode-seasonnumber,film_actor-last_update,contains the tv episode information.;season nu...,the film_actor table is used to support a many...,0
2346,title_basics-startyear,actor-first_name,contains the following basic information for t...,the actor table lists information for all acto...,0
2347,title_akas-region,film-special_features,contains the following common information for ...,the film table is a list of all films potentia...,0
2348,title_ratings-averagerating,film-original_language_id,contains the imdb rating and votes information...,the film table is a list of all films potentia...,0
2349,title_akas-region,language-language_id,contains the following common information for ...,the language table is a lookup table listing t...,0

In [4]:
imdb=pd.read_excel('imdb.xlsx')
des1_mean=(imdb['des1'].str.len().mean()+imdb['des2'].str.len().mean())/2
des1_min=min(imdb['des1'].str.len().min(),imdb['des2'].str.len().min())
des1_max=max(imdb['des1'].str.len().max(),imdb['des2'].str.len().max())

In [5]:
des1_mean

132.31702127659577

In [7]:
des1_min

63

In [8]:
des1_max

306