In [1]:
import pandas as pd

In [2]:
src=pd.read_excel('sourcedata.xlsx')
src.columns=src.columns.str.replace("/tuple/",'')
src

,agent_email,agent_name,agent_phone,building_area,building_area/#agg,electricity,electricity/#agg,fireplace,fireplace/#agg,firm_address,...,lot_area/#agg,num_rooms,num_rooms/#agg,school,sewer,sewer/#agg,type,utilities,water,water/#agg
0,LLeach7777@aol.com,Larry Leach,817 295-6161,0.0489,0.0489,1,1,1,1,Burleson TX,...,0.1584,8,8,Alvarado I S D,0,0,Residential,"Electric,Heat Pump Central Air",0,0
1,rainosek@gte.net,Frank Rainosek,512 303-4441,0.0520,0.0520,0,0,1,1,Bastrop TX,...,0.1584,7,7,Bastrop ISD,0,0,Residential,"Electric,Forced Air Central Air",0,0
2,pat.burch@realtyworldaustin.com,Pat Burch,512 834-6083,0.0396,0.0396,1,1,0,0,Austin TX,...,0.1584,7,7,Pflugerville,0,0,Residential,"Gas,Hot Water,Forced Air Window Unit",0,0
3,bwebb@brendawebb.com,Brenda Webb,817 556-9998,0.0483,0.0483,0,0,1,1,Cleburne TX,...,0.1584,9,9,Cleburne I S D,0,0,Residential,"Gas,Forced Air Window Unit",0,0
4,info@westfall_realestate.com,Jeff McSpadden,817 279-7653,0.0255,0.0255,0,0,0,0,Granbury TX,...,0.1584,6,6,Granbury,0,0,Residential,"Electric,Heat Pump Central Air",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,info@westfall_realestate.com,Helen Michael,713 621-4953,0.0207,0.0207,1,1,0,0,Houston TX,...,0.1584,4,4,Spring Branch,1,1,Residential,Gas Central Air,1,1
96,info@westfall_realestate.com,Mary Thompson,409 542-1234,0.0195,0.0195,0,0,0,0,Cleburne TX,...,0.1584,5,5,Birdville,0,0,Residential,"Gas,Forced Air Central Air",0,0
97,mevans@sanmarcos.net,Mary Evans,512 353-5171,0.0520,0.0520,1,1,0,0,Marcos TX,...,0.1584,7,7,Giddings,0,0,Residential,"Gas,Forced Air Central Air",0,0
98,rmorris@itouch.net,Brenda Damron,512 353-1776,0.0424,0.0424,1,1,0,0,Marcos TX,...,0.1584,7,7,Giddings,1,1,Residential,"Electric,Heat Pump Central Air",1,1
99,TEXRELEST@AOL.COM,Paul Emmert,956 425-3333,0.0520,0.0520,1,1,0,0,Harlingen TX,...,0.1584,10,10,Harlingen,0,0,Residential,"Gas,Forced Air None",1,1

In [3]:
target_agent=pd.read_excel('target_agent.xlsx')
target_house=pd.read_excel('house_details_target.xlsx')
target_agent.columns=target_agent.columns.str.replace("/tuple/","")
target_house.columns=target_house.columns.str.replace("/tuple/","")
target_agent

,agent_area_code,agent_area_code/#agg,agent_email,agent_first_name,agent_id,agent_id/#agg,agent_last_name,agent_name,agent_phone_number
0,830,830,jan@century21keiser.com,Janet,1,1,Simpson,Janet Simpson,693-3579
1,830,830,renee@hsbay.com,Renee,2,2,Thomas,Renee Thomas,598-2553
2,817,817,eprowell@century21jduncan.com,Emily,3,3,Prowell,Emily Prowell,596-9446
3,361,361,Leer29@aol.com,Lee,4,4,Hassman,Lee Hassman,853-2121
4,830,830,renee@hsbay.com,Renee,5,5,Thomas,Renee Thomas,598-2553
...,...,...,...,...,...,...,...,...,...
95,512,512,janicecampbell@housesoldname.net,Janice,96,96,Campbell,Janice Campbell,833-3584
96,254,254,carold@sagelink.net,Carol,97,97,Dolecki,Carol Dolecki,542-1800
97,361,361,TurtleDebJ@aol.com,Debbie,98,98,Jackson,Debbie Jackson,853-2121
98,817,817,mikeevan@hpnc.com,Mike,99,99,Evans,Mike Evans,558-8955
99,512,512,floyd_cw@centuryinter.net,Floyd,100,100,Jr.,Floyd Jr.,398-7148

In [15]:
target_house

,agent_first_name,agent_id,agent_id/#agg,agent_last_name,bath_rooms,bath_rooms/#agg,bed_rooms,bed_rooms/#agg,building_area,building_area/#agg,...,house_zip_code/#agg,living_rooms,living_rooms/#agg,lot_dimension1,lot_dimension1/#agg,lot_dimension2,lot_dimension2/#agg,sewer,type,water
0,Janet,1,1,Simpson,1,1,1,1,2263,2263,...,78657.0,1,1,60.0,60.0,115.0,115.0,Yes,Residential,Yes
1,Renee,2,2,Thomas,2,2,3,3,2263,2263,...,78657.0,1,1,60.0,60.0,115.0,115.0,Yes,Residential,Yes
2,Emily,3,3,Prowell,2,2,3,3,1162,1162,...,76086.0,1,1,60.0,60.0,115.0,115.0,Yes,Residential,Yes
3,Lee,4,4,Hassman,3,3,4,4,3555,3555,...,78413.0,1,1,90.0,90.0,120.0,120.0,Yes,Residential,Yes
4,Renee,5,5,Thomas,2,2,3,3,2263,2263,...,78657.0,1,1,60.0,60.0,115.0,115.0,Yes,Residential,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Janice,96,96,Campbell,2,2,3,3,1588,1588,...,78613.0,1,1,60.0,60.0,115.0,115.0,Yes,Residential,Yes
96,Carol,97,97,Dolecki,2,2,3,3,1475,1475,...,76542.0,1,1,60.0,60.0,115.0,115.0,No,Residential,No
97,Debbie,98,98,Jackson,1,1,3,3,842,842,...,78415.0,1,1,55.0,55.0,117.0,117.0,Yes,Residential,Yes
98,Mike,99,99,Evans,2,2,3,3,1216,1216,...,76009.0,1,1,60.0,60.0,115.0,115.0,No,Residential,No
99,Floyd,100,100,Jr.,2,2,2,2,1204,1204,...,78648.0,1,1,60.0,60.0,115.0,115.0,No,Residential,No

In [20]:
source_final=[]
target_final=[]
for source in src.columns:
    for target1 in target_house.columns:
        source_final.append(source)
        target_final.append(target1)
    for target2 in target_agent.columns:
        source_final.append(source)
        target_final.append(target2)
match=pd.DataFrame({'source':source_final,'target':target_final})
# match.to_excel('annotate.xlsx')

In [9]:
pd.DataFrame({'col':src.columns}).to_excel('source_constraint.xlsx')

In [10]:
pd.DataFrame({'col':target_house.columns}).to_excel('house_constraint.xlsx')

In [11]:
pd.DataFrame({'col':target_agent.columns}).to_excel('agent_constraint.xlsx')